*{
    background-color: #000;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  .container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  h1 {
    text-align: center;
  }
  
  label {
    display: flex;
    margin-top: 10px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #ffffff; 
  }
  
  input[type="submit"] {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }